.header{
	position: relative;	 
    background-position: 100% 94%;
    height: 850px;
    background-repeat: no-repeat;
    background-size: 73% 124%;
}
.red{
    fill:red!important;
    opacity: 0.4;
}
.green{
    fill:green!important;
    opacity: 0.4;
}
.pink{
    fill:pink!important;
    opacity: 0.4;
}
.black{
    fill:black!important;
    opacity: 0.4;
}
.orange{
    fill:orange!Important;
    opacity: 0.4;
}
.wheat{
    fill:wheat!important;
    opacity: 0.4;
}
.svg-abs{
	   position: absolute;
    top: -109px;
    bottom: 0;
    left: 100px;
    right: 0px;
    overflow: hidden;
}
.custom-container{
	width: 1349px!Important;
	margin:0 auto;
}
.header-div .logo{
	width: 16%;
	    margin-left: 4%;
    display: -webkit-inline-box;	
}
.header-div .nav{
	    width: 79%;
    display: -webkit-inline-box;
}
.header-div .nav .nav-element{
    width: 100%;
    display: flex;
    justify-content: flex-end;	
}

.header-div .nav .nav-element .items{
	list-style-type: none;
    display: flex;
    padding-left: 0px
}
.header-div .nav .nav-element .items li{
	    padding: 37px;
	    cursor: pointer;

}
.header-div .nav .nav-element .items li:hover{
	color: red;
}
.middle-header-text{
   height: 600px;
    display: flex;
    align-items: center;

}
.middle-header-text .text-inside{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 116px;
}

.middle-header-text .text-inside h1{
	    width: 67%;
    display: -webkit-inline-box;
    margin-left: 21px;
    padding: 0px 34px;
    margin-top: -23px;
    line-height: 1.3;
    font-weight: 800;
    font-size: 45px;
} 
.middle-header-text .text-inside h4{
   width: 50%;
    display: -webkit-inline-box;
    margin-left: 56px;
    font-size: 23px;

}

/*general css*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
/*general css*/